header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: white;
	padding: 10px 20px;
    border-bottom: 1px solid #797979;
 	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
 	z-index: 2;
}

header .sinistra {
	float: left;
}

header a:link, header a:visited {
	text-decoration: none;
	color: inherit;
}

header a:hover {
	color: grey;
}

header .destra {
	float: right;
}

table a:link, table a:visited, table a:hover {
	text-decoration: none;
	color: inherit;
}

.container {
	padding-top: 40px;
}

#immobili {
	padding-top: 65px;
	float: left;
	width: 600px;
}

#ricerca {
	position: fixed;
	top: 40px;
	right: 100px;
	line-height: 15px;
}

#ricerca select, label {
	display: block;
}

#foto-casa {
	float: left;
	margin-right: 5px;
}

#foto-casa img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#caratteristiche {
	line-height: 30px;
}

#foto-casa-tot {
	float: left;
}

#foto-casa-tot img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

#caratteristiche-tot {
	line-height: 30px;
}

.cf:before {
    display: block;
}

.cf:after {
    clear: both;
}

.contenitore-form {
	max-width: 300px;
}

#titolo {
	position: fixed;
	background: white;
	width: 625px;
    border-bottom: 1px solid #797979;
 	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}

#azioni {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

#azioni a:link, #azioni a:visited {
	text-decoration: none;
	color: inherit;
}

#crea-immobile {
	margin-top: 5px;
	margin-bottom: 10px;
}

#immobili-admin tr {
	cursor: pointer;
}

#immobili-admin th {
	cursor: default;
}